.interventions {
    margin-top: 3em;
    &__create {
        display: flex;
        padding: 0;
        font-size: 1.1em;
        margin-bottom: 1.5em;
        &--intervention { 
           background-color: $yellow-clr;            
           border-radius: .2em;
           padding: .5em .4em;
           color: $white-clr;           
           font-weight: bold; 
           &:hover {
            color: darken($white-clr, 0.9);
            background-color: darken($yellow-clr, 10%);
           }                     
        }
        &--length {
            margin-left: .9em;
            color: $gray-clr;
            padding: .2em .4em;
        }
    }
}
.table {
    thead {
        vertical-align: middle;
    }
    width: 100%; 
    border-collapse: collapse;
    &__head {
        position: relative;
        height: 4em;
        vertical-align: middle;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: rgba(0, 0, 0, .1);
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            z-index: -1;
        }
        &--item {          
          padding: 10px 15px;
          th {
            color: $dark-clr;
            background-color: transparent;            
         
          }
          th:nth-child(1) {                     
                div {
                    display: flex;
                    align-items: center;
                    background-color: #fff;               
                    cursor: pointer;
                    padding:  0 .2em;
                    div {
                        display: inline-grid; 
                        font-size: 12px;
                        margin-left: .5em;                   
                    }
                }          
            }
        }
    }
    &__body {      
        &--item {
            padding: 10px 15px;           
            vertical-align:middle;
            cursor: pointer;
            td:nth-child(1) {
                div {
                    width: 3em;                     
                    border-radius: 15px;
                    text-align: center;
                    color: #fff;
                    background-color: #343a40;
                    font-weight: 500;
                    text-transform: uppercase;
                    line-height: 1em;                   
                    padding: 10px;                               
                }              
            }

            td:nth-child(2) { 
                line-height: 1.2;
                .name {
                    font-weight: 700;
                }
                .time {
                    color: $gray-clr;
                    font-size: 12px;
                }
            }
        }

        td:nth-child(6) {
            color: $white-clr;
            font-size: 1.5em;
            text-align: right;
            .modify {
                background-color: $blue-clr ;
                cursor: pointer;
                border-radius: 5px;
            }
            .delete {
                background-color: $red-clr;
                cursor: pointer;
                border-radius: 5px;
                margin-left: .3em;
            }
        }
    }
}



.detail {
    width: 50%;
    max-width: 450px;
    min-width: 240px;
    margin: auto;
    &__btn {       
        margin-top: $detail-margin-top;
        &--link {           
            @include border($gray-400-clr);                   
            @include button;
        }
    }
    &__wrapper {
       @include border($gray-200-clr);
        margin-top: $detail-margin-top ;
        padding: .5em;
        border-radius: $detail-border-radius;
        &--name {
            font-size: 1.5em;
            font-weight: 600;
            margin-bottom: 0.6rem;
        }
        &--title {
            font-size: 0.7em;
            font-weight: 800;
        }
        &--descritption {
            margin-bottom: .6em;
        }
        &--sender {
            font-size: 0.95em;
            font-weight: 800;
        }
    }
}

.register {
    width: 70%;
    min-width: 300px;
    max-width: 500px;
    margin: auto;
    margin-top: $detail-margin-top;
    &__form {
        &--buttons {
            display: flex;
            flex-direction: row;  
            justify-content: space-between; 
            margin-bottom: 35px; 
            .cancel {
                margin: 0;
                border: none;
                &__link {
                    @include button;
                    @include border($gray-400-clr)
                }
            }
            .valid {
                @include button;
                border: 0;
                background-color: rgba($yellow-clr, 0.1); 
                color: $yellow-clr;             
            }            
        }
        &--inptgroup {
            margin-bottom: 20px;
            display: flex;
            flex-direction: column;
            label {
               font-size: 0.7em;
               font-weight: 800;        
            }                                 
            input {               
                padding: $input-padding;
                outline: 0;               
               @include border($gray-200-clr);
                font-size: 15px;               
                border-radius: $input-border-radius;
                height: 3em;                                             
            } 
            textarea {
                padding: $input-padding;
                @include border($gray-200-clr);
                border-radius: $input-border-radius;
                outline: 0;
                min-height: 120px;               
            }
          
        }       
    }
  
}   

