* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; 
}

$yellow-clr:#ffc107;
$white-clr:#fff;
$dark-clr:#212529;
$gray-clr:  #adb5bd;
$gray-400-clr: #ced4da;
$gray-200-clr: #e9ecef;
$blue-clr:#0298cf;
$red-clr:#f80000;

$detail-border-radius:  5px;
$detail-margin-top: 2.5rem;
$input-padding: 10px;
$input-border-radius: .3em;

@mixin border($color) {
  border: 2px solid $color;
}

@mixin button {
  border-radius: $detail-border-radius;
  color: #ced4da;
  font-weight: 700;
  padding: .3em 1.4em;
}

ul {
  padding: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  &:hover {
    color: inherit;
  }
}

